In [23]:
a = [1,2,3,4]
a.remove(2)
a

[1, 3, 4]

In [ ]:
# Creating lists with different data types
fruits: list  = ["apple", "banana", "cherry"]
numbers: list = [10, 20, 30, 40]
mixed: list   = ["hello", 42, 3.14, True]

print("fruits  = ", fruits)
print("numbers = ", numbers)
print("mixed   = ", mixed)

fruits  =  ['apple', 'banana', 'cherry']
numbers =  [10, 20, 30, 40]
mixed   =  ['hello', 42, 3.14, True]

In [27]:
a = [4,3,5,1]
a.sort(reverse=True)
a

[5, 4, 3, 1]

In [29]:
for i in range(1, 10, 2):
  print(i, end=" hi\n")

1 hi
3 hi
5 hi
7 hi
9 hi

In [34]:
sallary  = [1000,2000,3000,4000,5000,6000,7000,8000,9000,10000] ; 

total_sallary = 0 

for sal in sallary:
    total_sallary += sal
print(f"you sallary is {total_sallary}")

you sallary is 55000

In [ ]:
import gym_snake_game
import gym

# both work
env = gym.make('Snake-v0', render_mode='human')
env = gym_snake_game.make('Snake-v0', render_mode='human')
env.reset()

# for human playing
env.play()

# for ai playing
while True:
    obs, reward, done, truncated, info = env.step(env.action_space.sample())
    if done:
        break
env.close()