In [1]:
import pandas as pd
data1 = pd.read_csv('movies.csv')

data1.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English

In [ ]:
data1.title
data1['title'] = data1['title'].str.upper()
data1.shape
data1.columns
data1.dtypes
data1.describe()
data1['title'].value_counts()

title
PATHER PANCHALI                                1
DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS    1
THOR: THE DARK WORLD                           1
THOR: RAGNAROK                                 1
THOR: LOVE AND THUNDER                         1
THE SHAWSHANK REDEMPTION                       1
INTERSTELLAR                                   1
THE PURSUIT OF HAPPYNESS                       1
GLADIATOR                                      1
TITANIC                                        1
IT'S A WONDERFUL LIFE                          1
AVATAR                                         1
THE GODFATHER                                  1
THE DARK KNIGHT                                1
SCHINDLER'S LIST                               1
JURASSIC PARK                                  1
PARASITE                                       1
AVENGERS: ENDGAME                              1
AVENGERS: INFINITY WAR                         1
CAPTAIN AMERICA: THE FIRST AVENGER             1
CAPTAIN AMERICA: THE WINTER SOLDIER            1
DILWALE DULHANIA LE JAYENGE                    1
3 IDIOTS                                       1
KABHI KHUSHI KABHIE GHAM                       1
BAJIRAO MASTANI                                1
TAARE ZAMEEN PAR                               1
MUNNA BHAI M.B.B.S.                            1
PK                                             1
SANJU                                          1
THE KASHMIR FILES                              1
BAJRANGI BHAIJAAN                              1
RACE 3                                         1
SHERSHAAH                                      1
K.G.F: CHAPTER 2                               1
PUSHPA: THE RISE - PART 1                      1
RRR                                            1
BAAHUBALI: THE BEGINNING                       1
Name: count, dtype: int64

In [22]:
data1.industry.unique()
data1.industry.value_counts()
data1['industry'].value_counts()

industry
Hollywood    20
Bollywood    17
Name: count, dtype: int64

In [23]:
data1.language.unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [24]:
data1.language.value_counts()

language
English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [27]:
data1[['title','language','industry']]
# data1[['title','language','industry']].head(10)

                                          title language   industry
0                               PATHER PANCHALI  Bengali  Bollywood
1   DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS  English  Hollywood
2                         THOR: THE DARK WORLD   English  Hollywood
3                               THOR: RAGNAROK   English  Hollywood
4                       THOR: LOVE AND THUNDER   English  Hollywood
5                      THE SHAWSHANK REDEMPTION  English  Hollywood
6                                  INTERSTELLAR  English  Hollywood
7                      THE PURSUIT OF HAPPYNESS  English  Hollywood
8                                     GLADIATOR  English  Hollywood
9                                       TITANIC  English  Hollywood
10                        IT'S A WONDERFUL LIFE  English  Hollywood
11                                       AVATAR  English  Hollywood
12                                THE GODFATHER  English  Hollywood
13                              THE DARK KNIGHT  English  Hollywood
14                             SCHINDLER'S LIST  English  Hollywood
15                                JURASSIC PARK  English  Hollywood
16                                     PARASITE  English  Hollywood
17                            AVENGERS: ENDGAME  English  Hollywood
18                       AVENGERS: INFINITY WAR  English  Hollywood
19           CAPTAIN AMERICA: THE FIRST AVENGER  English  Hollywood
20          CAPTAIN AMERICA: THE WINTER SOLDIER  English  Hollywood
21                  DILWALE DULHANIA LE JAYENGE    Hindi  Bollywood
22                                     3 IDIOTS    Hindi  Bollywood
23                     KABHI KHUSHI KABHIE GHAM    Hindi  Bollywood
24                             BAJIRAO MASTANI     Hindi  Bollywood
25                             TAARE ZAMEEN PAR    Hindi  Bollywood
26                          MUNNA BHAI M.B.B.S.    Hindi  Bollywood
27                                           PK    Hindi  Bollywood
28                                        SANJU    Hindi  Bollywood
29                            THE KASHMIR FILES    Hindi  Bollywood
30                            BAJRANGI BHAIJAAN    Hindi  Bollywood
31                                       RACE 3    Hindi  Bollywood
32                                    SHERSHAAH    Hindi  Bollywood
33                             K.G.F: CHAPTER 2  Kannada  Bollywood
34                    PUSHPA: THE RISE - PART 1   Telugu  Bollywood
35                                          RRR   Telugu  Bollywood
36                     BAAHUBALI: THE BEGINNING   Telugu  Bollywood

In [30]:
data1[data1['language']=='English']

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS,Hollywood,2022,7.0,Marvel Studios,200.00,954.8,Millions,USD,English
2,THOR: THE DARK WORLD,Hollywood,2013,6.8,Marvel Studios,165.00,644.8,Millions,USD,English
3,THOR: RAGNAROK,Hollywood,2017,7.9,Marvel Studios,180.00,854.0,Millions,USD,English
4,THOR: LOVE AND THUNDER,Hollywood,2022,6.8,Marvel Studios,250.00,670.0,Millions,USD,English
5,THE SHAWSHANK REDEMPTION,Hollywood,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,English
6,INTERSTELLAR,Hollywood,2014,8.6,Warner Bros. Pictures,165.00,701.8,Millions,USD,English
7,THE PURSUIT OF HAPPYNESS,Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English
8,GLADIATOR,Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English
9,TITANIC,Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English
10,IT'S A WONDERFUL LIFE,Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English
11,AVATAR,Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English
12,THE GODFATHER,Hollywood,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,English
13,THE DARK KNIGHT,Hollywood,2008,9.0,Syncopy,185.00,1006.0,Millions,USD,English
14,SCHINDLER'S LIST,Hollywood,1993,9.0,Universal Pictures,22.00,322.2,Millions,USD,English
15,JURASSIC PARK,Hollywood,1993,8.2,Universal Pictures,63.00,1046.0,Millions,USD,English
16,PARASITE,Hollywood,2019,8.5,NaN,15.50,263.1,Millions,USD,English
17,AVENGERS: ENDGAME,Hollywood,2019,8.4,Marvel Studios,400.00,2798.0,Millions,USD,English
18,AVENGERS: INFINITY WAR,Hollywood,2018,8.4,Marvel Studios,400.00,2048.0,Millions,USD,English
19,CAPTAIN AMERICA: THE FIRST AVENGER,Hollywood,2011,6.9,Marvel Studios,216.70,370.6,Millions,USD,English
20,CAPTAIN AMERICA: THE WINTER SOLDIER,Hollywood,2014,7.8,Marvel Studios,177.00,714.4,Millions,USD,English

In [33]:
data1[data1.release_year>2015]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
3,THOR: RAGNAROK,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,THOR: LOVE AND THUNDER,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
16,PARASITE,Hollywood,2019,8.5,NaN,15.5,263.1,Millions,USD,English
17,AVENGERS: ENDGAME,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
18,AVENGERS: INFINITY WAR,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
28,SANJU,Bollywood,2018,NaN,Vinod Chopra Films,1.0,5.9,Billions,INR,Hindi
29,THE KASHMIR FILES,Bollywood,2022,8.3,Zee Studios,250.0,3409.0,Millions,INR,Hindi
31,RACE 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi
32,SHERSHAAH,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi
33,K.G.F: CHAPTER 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada
34,PUSHPA: THE RISE - PART 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
35,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu

In [40]:
data1[(data1.release_year>2017) & (data1.language=='English') & (data1.industry=='Hollywood')]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,THOR: LOVE AND THUNDER,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
16,PARASITE,Hollywood,2019,8.5,NaN,15.5,263.1,Millions,USD,English
17,AVENGERS: ENDGAME,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
18,AVENGERS: INFINITY WAR,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English

In [41]:
data1.studio.unique()

array(['Government of West Bengal', 'Marvel Studios',
       'Castle Rock Entertainment', 'Warner Bros. Pictures',
       'Columbia Pictures', 'Universal Pictures  ', 'Paramount Pictures',
       'Liberty Films', '20th Century Fox', 'Syncopy',
       'Universal Pictures', nan, 'Yash Raj Films', 'Vinod Chopra Films',
       'Dharma Productions', 'Vinod Chopra Productions', 'Zee Studios',
       'Salman Khan Films', 'Hombale Films', 'Mythri Movie Makers',
       'DVV Entertainment', 'Arka Media Works'], dtype=object)

In [42]:
data1.studio.value_counts()

studio
Marvel Studios               8
Vinod Chopra Films           3
Dharma Productions           2
Paramount Pictures           2
Universal Pictures           2
Salman Khan Films            2
Warner Bros. Pictures        1
Castle Rock Entertainment    1
Government of West Bengal    1
Columbia Pictures            1
Liberty Films                1
20th Century Fox             1
Universal Pictures           1
Yash Raj Films               1
Syncopy                      1
Vinod Chopra Productions     1
Zee Studios                  1
Hombale Films                1
Mythri Movie Makers          1
DVV Entertainment            1
Arka Media Works             1
Name: count, dtype: int64

In [46]:
data1[data1.studio=='Marvel Studios'].count()

title           8
industry        8
release_year    8
imdb_rating     8
studio          8
budget          8
revenue         8
unit            8
currency        8
language        8
dtype: int64

In [47]:
data1[data1.studio=='Marvel Studios']

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,THOR: THE DARK WORLD,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,THOR: RAGNAROK,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,THOR: LOVE AND THUNDER,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
17,AVENGERS: ENDGAME,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
18,AVENGERS: INFINITY WAR,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
19,CAPTAIN AMERICA: THE FIRST AVENGER,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
20,CAPTAIN AMERICA: THE WINTER SOLDIER,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English

In [49]:
# quick stastaics 
data1.describe()

       release_year  imdb_rating        budget        revenue
count     37.000000    36.000000     37.000000      37.000000
mean    2007.027027     7.919444   2084.975135    4117.135135
std       17.657995     1.204947  11477.487145   16372.462682
min     1946.000000     1.900000      1.000000       3.100000
25%     2001.000000     7.800000     15.500000     263.100000
50%     2014.000000     8.100000    165.000000     701.800000
75%     2018.000000     8.400000    250.000000    2000.000000
max     2022.000000     9.300000  70000.000000  100000.000000

In [50]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         37 non-null     object
 1   industry      37 non-null     object
 2   release_year  37 non-null     int64
 3   imdb_rating   36 non-null     float64
 4   studio        34 non-null     object
 5   budget        37 non-null     float64
 6   revenue       37 non-null     float64
 7   unit          37 non-null     object
 8   currency      37 non-null     object
 9   language      37 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.0+ KB

In [51]:
data1.imdb_rating.max()

np.float64(9.3)

In [55]:
data1[(data1.imdb_rating == data1.imdb_rating.max())  | (data1.imdb_rating == data1.imdb_rating.min())]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,THE SHAWSHANK REDEMPTION,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
31,RACE 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi

In [56]:
data1.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PATHER PANCHALI,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,THOR: THE DARK WORLD,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,THOR: RAGNAROK,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English

In [58]:
data1["age"] = 2021 - data1["release_year"]
data1.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,PATHER PANCHALI,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,66
1,DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,-1
2,THOR: THE DARK WORLD,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,8
3,THOR: RAGNAROK,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,4

In [ ]:
data1["age1"] = data1["release_year"].apply(lambda x: 2021 - x)
data1.tail(4)  # last 4 rows head() first 4 rows

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,age1
33,K.G.F: CHAPTER 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada,-1,-1
34,PUSHPA: THE RISE - PART 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu,0,0
35,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu,-1,-1
36,BAAHUBALI: THE BEGINNING,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu,6,6

In [68]:
data1["profit"] = data1.apply(lambda x: x["revenue"] - x["budget"]  , axis=1)
data1.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,age1,profit
0,PATHER PANCHALI,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,66,66,30000.0
1,DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,-1,-1,754.8
2,THOR: THE DARK WORLD,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,8,8,479.8
3,THOR: RAGNAROK,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,4,4,674.0

In [80]:
data1.index

Index(['PATHER PANCHALI', 'DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS',
       'THOR: THE DARK WORLD ', 'THOR: RAGNAROK ', 'THOR: LOVE AND THUNDER ',
       'THE SHAWSHANK REDEMPTION', 'INTERSTELLAR', 'THE PURSUIT OF HAPPYNESS',
       'GLADIATOR', 'TITANIC', 'IT'S A WONDERFUL LIFE', 'AVATAR',
       'THE GODFATHER', 'THE DARK KNIGHT', 'SCHINDLER'S LIST', 'JURASSIC PARK',
       'PARASITE', 'AVENGERS: ENDGAME', 'AVENGERS: INFINITY WAR',
       'CAPTAIN AMERICA: THE FIRST AVENGER',
       'CAPTAIN AMERICA: THE WINTER SOLDIER', 'DILWALE DULHANIA LE JAYENGE',
       '3 IDIOTS', 'KABHI KHUSHI KABHIE GHAM', 'BAJIRAO MASTANI ',
       'TAARE ZAMEEN PAR', 'MUNNA BHAI M.B.B.S.', 'PK', 'SANJU',
       'THE KASHMIR FILES', 'BAJRANGI BHAIJAAN', 'RACE 3', 'SHERSHAAH',
       'K.G.F: CHAPTER 2', 'PUSHPA: THE RISE - PART 1', 'RRR',
       'BAAHUBALI: THE BEGINNING'],
      dtype='object', name='title')

In [ ]:
data1.set_index('title' , inplace=True)

print(data1.columns)

Index(['industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language', 'age', 'age1', 'profit'],
      dtype='object')

In [93]:
import pandas as pd

# Example of loading a DataFrame
data1 = pd.read_csv('movies.csv')

# Check the columns
print(data1.columns)
if 'title' in data1.columns:
    data1.set_index('title', inplace=True)
    print(data1.head(3))
else:
    print("Column 'title' does not exist in the DataFrame.")

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')
                                              industry  release_year  \
title
Pather Panchali                              Bollywood          1955
Doctor Strange in the Multiverse of Madness  Hollywood          2022
Thor: The Dark World                         Hollywood          2013

                                             imdb_rating  \
title
Pather Panchali                                      8.3
Doctor Strange in the Multiverse of Madness          7.0
Thor: The Dark World                                 6.8

                                                                studio  \
title
Pather Panchali                              Government of West Bengal
Doctor Strange in the Multiverse of Madness             Marvel Studios
Thor: The Dark World                                    Marvel Studios

                                              budget   revenue       unit  \
title
Pather Panchali                              70000.0  100000.0  Thousands
Doctor Strange in the Multiverse of Madness    200.0     954.8   Millions
Thor: The Dark World                           165.0     644.8   Millions

                                            currency language
title
Pather Panchali                                  INR  Bengali
Doctor Strange in the Multiverse of Madness      USD  English
Thor: The Dark World                             USD  English

In [94]:
data1.index

Index(['Pather Panchali', 'Doctor Strange in the Multiverse of Madness',
       'Thor: The Dark World ', 'Thor: Ragnarok ', 'Thor: Love and Thunder ',
       'The Shawshank Redemption', 'Interstellar', 'The Pursuit of Happyness',
       'Gladiator', 'Titanic', 'It's a Wonderful Life', 'Avatar',
       'The Godfather', 'The Dark Knight', 'Schindler's List', 'Jurassic Park',
       'Parasite', 'Avengers: Endgame', 'Avengers: Infinity War',
       'Captain America: The First Avenger',
       'Captain America: The Winter Soldier', 'Dilwale Dulhania Le Jayenge',
       '3 Idiots', 'Kabhi Khushi Kabhie Gham', 'Bajirao Mastani ',
       'Taare Zameen Par', 'Munna Bhai M.B.B.S.', 'PK', 'Sanju',
       'The Kashmir Files', 'Bajrangi Bhaijaan', 'Race 3', 'Shershaah',
       'K.G.F: Chapter 2', 'Pushpa: The Rise - Part 1', 'RRR',
       'Baahubali: The Beginning'],
      dtype='object', name='title')

In [98]:
data1.loc["Pather Panchali" , 'language' ] = 'Bengali'

In [104]:
cc =data1.loc["Pather Panchali" ] 
cc

industry                        Bollywood
release_year                         1955
imdb_rating                           8.3
studio          Government of West Bengal
budget                            70000.0
revenue                          100000.0
unit                            Thousands
currency                              INR
language                          Bengali
RRR                                   9.5
Name: Pather Panchali, dtype: object

In [106]:
data1.iloc[0]

industry                        Bollywood
release_year                         1955
imdb_rating                           8.3
studio          Government of West Bengal
budget                            70000.0
revenue                          100000.0
unit                            Thousands
currency                              INR
language                          Bengali
RRR                                   9.5
Name: Pather Panchali, dtype: object

In [107]:
data1.reset_index(inplace=True)
data1.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,RRR
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,9.5
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,NaN
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,NaN
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,NaN

In [6]:
data1["age"] = 2021 - data1["release_year"]
data1.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,66
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,-1
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,8
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,4

In [8]:
data1["age"] = data1["release_year"].apply(lambda x: 2021 - x)
data1.head(4)  # last 4 rows head() first 4 rows

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,66
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,-1
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,8
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,4

In [11]:
data1["profit"] = data1.apply(lambda x: x["revenue"] - x["budget"]  , axis=1)
data1.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,66,30000.0
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,-1,754.8
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,8,479.8
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,4,674.0

In [12]:
data1.index

RangeIndex(start=0, stop=37, step=1)

In [19]:
data1.set_index('title' , inplace=True)

KeyError: "None of ['title'] are in the columns"

In [15]:
data1.head(4)

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
title,,,,,,,,,,,
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,66,30000.0
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,-1,754.8
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,8,479.8
Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,4,674.0

In [20]:
data1.index

Index(['Pather Panchali', 'Doctor Strange in the Multiverse of Madness',
       'Thor: The Dark World ', 'Thor: Ragnarok ', 'Thor: Love and Thunder ',
       'The Shawshank Redemption', 'Interstellar', 'The Pursuit of Happyness',
       'Gladiator', 'Titanic', 'It's a Wonderful Life', 'Avatar',
       'The Godfather', 'The Dark Knight', 'Schindler's List', 'Jurassic Park',
       'Parasite', 'Avengers: Endgame', 'Avengers: Infinity War',
       'Captain America: The First Avenger',
       'Captain America: The Winter Soldier', 'Dilwale Dulhania Le Jayenge',
       '3 Idiots', 'Kabhi Khushi Kabhie Gham', 'Bajirao Mastani ',
       'Taare Zameen Par', 'Munna Bhai M.B.B.S.', 'PK', 'Sanju',
       'The Kashmir Files', 'Bajrangi Bhaijaan', 'Race 3', 'Shershaah',
       'K.G.F: Chapter 2', 'Pushpa: The Rise - Part 1', 'RRR',
       'Baahubali: The Beginning'],
      dtype='object', name='title')

In [27]:
data1.loc[["Pather Panchali" , "Doctor Strange in the Multiverse of Madness "]]

KeyError: "['Doctor Strange in the Multiverse of Madness '] not in index"