In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('hassan.db')
c = conn.cursor()

In [20]:
# create a table if it does not exist 
c.execute('''
    CREATE TABLE IF NOT EXISTS employees1 (
    contact_id INTEGER PRIMARY KEY,
	first_name TEXT NOT NULL,
	last_name TEXT NOT NULL,
	email TEXT NOT NULL UNIQUE,
	phone TEXT NOT NULL UNIQUE
    )
''')
conn.commit()

In [25]:
# data insertion
def insert_employee1 (contact_id, first_name, last_name ,email, phone):
    c.execute('''
        INSERT INTO employees1 (contact_id, first_name, last_name ,email, phone)
        VALUES (?, ?, ?, ? , ? )
    ''', (contact_id, first_name, last_name ,email, phone))
    conn.commit()

In [26]:
insert_employee1(1, 'Hassan', 'Raza', 'ahmad@gmail.com' , '23685635')
insert_employee1(2, 'Hassan2', 'Raza2', 'ahmad2@gmail.com' , '236856352')

In [27]:
def get_all_employees():
    c.execute('SELECT * FROM employees1')
    rows = c.fetchall()
    for row in rows:
        print(row)

In [28]:
get_all_employees()

(1, 'Hassan', 'Raza', 'ahmad@gmail.com', '23685635')
(2, 'Hassan2', 'Raza2', 'ahmad2@gmail.com', '236856352')