In [2]:
import sqlite3
conn = sqlite3.connect('example1.db')

In [5]:
cur = conn.cursor()
cur.execute("CREATE TABLE movie(title, year, score)")

In [9]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [10]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [11]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [12]:
conn.commit()

In [14]:
res = cur.execute("SELECT year FROM movie")
res.fetchall()

[(1975,), (1971,)]