In [2]:
import sqlite3
conn = sqlite3.connect('ahmad.db')

In [3]:
cur = conn.cursor()
cur.execute('CREATE TABLE movies (title , year, score)')

In [5]:
res =  cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movies',)

In [7]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [8]:
cur.execute("INSERT INTO movies VALUES ('The Matrix', 1999, 8.7)")
cur.execute("INSERT INTO movies VALUES ('The Matrix Reloaded', 2003, 7.2)")
cur.execute("INSERT INTO movies VALUES ('The Matrix Revolutions', 2003, 6.8)")

In [9]:
conn.commit()

In [14]:
res = cur.execute("SELECT year FROM movies")
res.fetchall()

[(1999,), (2003,), (2003,)]