In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('mydatabase.db')  # فائل بن جائے گی اگر نہ ہو
cursor = conn.cursor()

In [3]:
# create a table if it does not exist 
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        department TEXT
    )
''')
conn.commit()

In [4]:
# data insertion
def insert_employee(id, name, age, department):
    cursor.execute('''
        INSERT INTO employees (id, name, age, department)
        VALUES (?, ?, ?, ?)
    ''', (id, name, age, department))
    conn.commit()

In [8]:
# insert_employee(1, 'Ali', 30, 'HR')
# insert_employee(2, 'Sara', 28, 'IT')
insert_employee(3, 'Ahmed', 35, 'Finance')

In [9]:
# read of data
def get_all_employees():
    cursor.execute('SELECT * FROM employees')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [10]:
# use of data
get_all_employees()

(1, 'ahmadbasitofficial@gmail.com', 22, 'nn')
(2, 'Sara', 28, 'IT')
(3, 'Ahmed', 35, 'Finance')

In [11]:
# update of data
def update_employee_age(emp_id, new_age):
    cursor.execute('''
        UPDATE employees
        SET age = ?
        WHERE id = ?
    ''', (new_age, emp_id))
    conn.commit()

In [13]:
update_employee_age(2, 35)

In [14]:
def delete_employee(emp_id):
    cursor.execute('DELETE FROM employees WHERE id = ?', (emp_id,))
    conn.commit()

In [15]:
delete_employee(2)

In [16]:
conn.close()